* {
    background-color: rgb(230, 230, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

#tagline{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 30px;
    margin: 50px 50px;
}

.food-pic {
    height: 400px;
    width: auto;
    border: 5px solid whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipes-list {
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



